@media(max-width:500px){
  .container{width: 468px;}
  header{
    display: flex;
    align-items: center;
    width: 100%; height: 80px;
  }
  header .number, .header-top, .header-mid, .main-nav ul{display: none;}
  .main-nav .mobile-logo{display: block;}
  .main-nav .search-icon{display: block; margin-left: 187px;}
  .main-nav .sitemap-icon{margin-left: 23px;}
  .main-nav .sitemap-icon p{display: block;}
  .main-nav .sitemap-icon img{width: 30px; height: 30px;}
 
  .site-map .container{flex-direction: column;}
  .site-map.active{max-height: 3200px;}
  .site-map-links{width: 100%;
  margin: 15px 0;}
  /* 헤더 파트 */


  .gov-img-box{
    gap: 10px;
    width: 100%; height: 55px;
  }
  .gov-img-box a img{
    width: 110px; height: 55px;
  }
  .footer-link .container{
    flex-direction: column;
  }
  .location{
    flex: 1;
    text-align: center;
  }
  .location p{margin: 15px 0px;}
  .sns-link{flex: 1; text-align: center;}
  .sns-link .icons{margin-top: 10px;}
  .footer-policy .container{
    align-items: center;
    flex-direction: column;
  }
  .policy a{
    font-family: var(--font-sm);
    font-size: var(--font-size-sm-14);
    font-weight: var(--font-weight-s);
    margin: 0 7.5px;
  }
  .policy a:first-child{margin-left: 0;}
  .marks img{margin: 30px 5px;}
  /* 푸터 */
}